.top-menu {
	font-family: 'EB Garamond', serif;
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	z-index: 20;
	background: #827f77;
	font-size: 1.1rem;
	transform : translate3d(0, 0, 0);
	box-shadow: 0 0 10px 3px rgba(0,0,0,.5);
}

.top-menu__list {
	max-width: 80rem;
	margin: auto;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.top-menu__sep {
	margin: 0 2rem;
	color: #fff;
}

.top-menu__link {
	display: block;
	text-transform: uppercase;
	color: #fff;
	padding: 1rem;
	text-decoration: none;
	letter-spacing: 0.15rem;
}

li.third{
	width: 33%;
	text-align: center;
	vertical-align: middle;
}

li.third span{
	position: relative;
	top: 0px;
}
/* #plotFrame{
	position: absolute;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 1000px;
	width: 1000px;
	border: 2px solid red;
} */