.ap-brochures {
	background-image: url(img/section-divider.png);
	background-size: 75rem auto;
	background-position: top center;
	background-repeat: no-repeat;
	padding-bottom: 12rem;
}

.ap-brochures__wrapper {
	display: flex;
	max-width: 75rem;
	margin: auto;
	justify-content: space-between;
	align-items: flex-start;
}

.ap-brochures__link {
	max-width: 14rem;
}

.ap-brochures__img {
	box-shadow: 0 0 10px 3px rgba(0,0,0,.3);
}

.ap-brochures__name {
	color: #827f77;
	display: block;
	text-transform: uppercase;
	font-size: 0.9rem;
	text-align: center;
	margin-top: 1.5rem;
}

.explore{
	color: #827f77;
    display: block;
    text-transform: uppercase;
    font-size: 0.9rem;
    text-align: center;
    top: 0px;
    position: relative;
}

.ap-brochures__popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	background-image: url(img/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center;
	z-index: 25;
	will-change: transform;
	transform: translateX(0);
	transition: transform 0.75s ease;
}

.ap-brochures__popup.inactive {
	transform: translateX(-101%);
}

.ap-brochures__frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	will-change: opacity;
	transition-delay: 0.75s;
	transition: 0.75s ease opacity;
}

.ap-brochures__frame.active {
	opacity: 1;
}


#Template-controlBar .ControlBar {
	display: none;
	opacity: 0 !important;
}

.ap-brochures__close {
	position: absolute;
	display: block;
	cursor: pointer;
	top: 0rem;
	right: 0rem;
	font-size: 2rem;
	z-index: 2;
	width: 6rem;
	height: 6rem;
	opacity: 0.4;
	padding: 2rem;
}

.bro_img_single{
	width: calc(25% - 2.25rem) !important; 
	max-width: 18rem;
}

.brochures__wrapper {
    padding: 7.3125rem 0 7.875rem;
	position: relative;
	text-align: center;
}